<div>
    {{#each articles}}
    <div class="card">
        <div class="saveArticleButton">
            <h5 class="card-header" style="max-width: 70%;">{{title}}</h5>
            <div>
                <button type="button" data-link="{{link}}" class="btn btn-info articleNotes" data-note="{{note}}" data-toggle="modal" data-target="#noteModal"
                    style="margin-right: 10px;">Article Notes</button>

                <button type="button" data-link="{{link}}" class="btn btn-info articleDeleteNotes"
                    style="margin-right: 10px;">Delete from Saved</button>
            </div>

        </div>
        <div class="card-body">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            <p class="card-text">{{teaser}}</p>
            <a href="{{link}}">Click for full article</a>
        </div>
    </div>
    {{/each}}
</div>

<div class="modal" id="noteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD NOTES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>add notes here...</p>
                <textarea id = "textNotes" rows ="4" cols ="50"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id = "saveNotesButton" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>